.contenedor-palabra {
  font-style: italic;
  font-size: 24px;
  display: flex;
  flex-direction: column; /* ← coloca los items uno debajo del otro */
  align-items: center; /* ← centra todo horizontalmente */
  gap: 1px;
  background-color: whitesmoke; /* ← espacio entre la palabra y el input */
}

.palabra-oculta {
  display: flex;
  gap: 3px; /* ← espacio entre los spans */
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.letra {
  font-size: 32px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.letra.visible {
  animation: aparecer 0.4s ease forwards;
}
